body{
    background: white;
}

.navbar{
    background: #2451d6;
    font-family:'Times New Roman', Times, serif;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navli{
    list-style: none;
    display:inline-block;
}

h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-right: 25px;
}

a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
}

h2{
    text-decoration: underline;
    background: white;
    color:black;
    font-size: 25px;
    text-align: center;
}

h3{
    background: white;
    color:black;
    font-size: 20px;
    text-align: left;
}

p{
    background: white;
    color: black;
    font-size: 18px;
    text-align: justify;
}
.self{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

#selfie{
    border: 5px solid #2451d6;
    max-width: 200px;
    max-height: 250px;
}
